.row-header {
  margin: 0px;
  padding: 0px;
}
.row-content {
  margin: 0px auto;
  padding: 0px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #D1C4E9;
  margin: 0px;
  padding: 20px 0px 20px 0px;
}
.jumbotron{
  padding: 70px 30px 70px 30px;
  margin: 0px;
  background-color: #9575CD;
  color: floralwhite;
}
address{
  font-size: 100%;
  margin:0px;
  color:black;
}
body{
  z-index:0;
}
.navbar-dark{
  background-color: #9575CD ;
}
.navbar1 li{
  padding: 0px 20px 0px 20px;
}
.card1{
  box-shadow: 5px 5px 50px rgba(21, 134, 78, 0.3),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
background-color: floralwhite;
border-radius: 50px 20px 50px 20px;
}
.cardReserve{
  background-color: rgb(255, 194, 0);
  color:white;
}
.radioButtons{
  padding-left: 10px;
}


